.left_menu{
    background-color: #F3F3F3;
}
.button-custom{
    background-color:#0072C6; 
    border: 1px solid #0072C6;
    color:#fff;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    padding: 5px 30px !important;
    border-radius: 4px!important;
}
.common_modal_content{
    font-size: 17px;
}

.profileCustomResellerList{
    list-style-type: circle;
}

.paymentHistorySearch li{
    display: inline-block!important;
}

.customInputMargin{
    margin-bottom: -8px;
}

.label_custom{
    display: inline;
}

.dyn_height{
    max-height: 400px;
    overflow-y: scroll;
}

.marquee{
    color: #fff;
    padding: 5px;
    font-weight: bold;
    background-color: #22468E;
}